* {
    font-family: 'Iceland', cursive;
    font-size: 1.4rem; 
}

h1 {
    text-align: center; 
    color: #fff; 
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

i {
    font-size: 1.0rem; 
}

/*CLASS AND ID STYLES*/

.jumbotron {
    border-radius: 0px;
    opacity: 0.8;
}

.form-check-label {
    position: relative; 
    bottom: 10px; 
}

.btn-success {
    background-color: rgba(24,220,255,1.0) !important;
    border: none !important; 
}

#main-container {
    margin-top: 5%; 
    margin-bottom: 5%; 
}

#form-container {
    border-radius: 5px;
    background-color: rgba(240,240,240,1.0); 
    padding-top: 10px; 
    max-width: 800px; 
}

#copy-button {
    align-content: center !important; 
}

#password-output {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.0rem; 
    color: rgba(100,100,100,1.0); 
}
